* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}
p,
li {
  font-family: 'Open Sans', sans-serif;
}
.header-button {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #EB0E0E;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  color:#EB0E0E;
  font-weight: bold;
  padding: 10px;
}
nav .header-button {
  padding: 20px;
  display: flex;
}
nav .header-button:hover {
  font-weight:normal;
}
.logo{
  display: flex;
  align-items:center
}
.logo-image {
  height: 100px;
  margin-right: 10px;
}
.logo-name {
  font-size: 20px;
}
.about-me {
  background-color:#EB0E0E;
  color:white;
  width: 100%;
  padding-bottom: 30px;
  display: block;
  padding: 0px 0px 20px 0px;
}
.div-title {
  padding: 30px 30px 20px;
  font-size: 40px;
  line-height: 44px;
  display: grid;
  place-items: center;
}
#aboutme-text {
  padding: 0px 30px 30px;
  font-size: 16px;
  line-height: 24px;
}
.profile-image {
  width: 100%
}
.download-btn {
  text-decoration: none;
  background-color: white;
  color: #EB0E0E;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px 10px 10px 10px; 
  font-size: 24px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.download-btn:hover {
  font-weight: normal;
}
#professional-experience {
  background-color: #7896C1;
  color: white;
  font-size: 16px;
  line-height: 24px;
}
.job-title {
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  line-height: 24px;
}
.company {
  padding: 10px 20px 10px;
  font-size: 16px;
  line-height: 24px;
}
#professional-experience p, ul {
  padding: 0px 30px 20px 35px;
}
#contact-me {
  background-color: #D8BC9F;
  color: #EB0E0E;
}
.fa-phone, 
.fa-envelope,
.fa-linkedin,
.fa-github-alt {
  font-size: 50px;
  color: #EB0E0E;
  padding: 10px;
}
.active {
color: white;
background-color: #EB0E0E;
padding: 5px 5px;
border-radius: 5px;
place-content: center;
}
.contact-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.footer-text {
  color: #EB0E0E;
  min-height: 10px;
  padding: 20px 30px 20px;
  display: grid;
  place-items: center;
}
@media only screen and (min-width: 768px) {
  header {
    padding-bottom: 20px;
  }
  .profile-image {
    width: 400px;
    border-radius: 50%;
    margin-left: 230px;
    padding-top: 50px;
  }
  .div-title {
    padding: 20px 0px 20px;
  }
  #aboutme-text {
    padding: 20px 50px 40px;
  }
  .job-title {
    padding: 20px 20px 10px 20px;
  }
  .company {
    padding: 0px 30px 10px;
  }
  #professional-experience {
    padding: 0px 50px 50px 20px;
  }
  nav .header-button {
    display: inline-block
  }
  .download-btn {
    margin-left: 340px;
  }
}
@media only screen and (min-width: 1000px) {
  header {
    padding-bottom: 20px;
  }
  .about-me {
    display: flex;
  }
  .aboutme-info {
    width: 50%;
    margin-left: 80px;
  }
  .profile-image {
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 100px;
    padding: 30px 30px 40px 40px;
    float: right;
  }
  #aboutme-text {
    float: left;
    padding: 20px 0px 0px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .download-btn {
    margin-right: 0px;
    margin-left: 270px;
  }
}