* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}
p,
li {
  font-family: 'Open Sans', sans-serif;
}
.header-button {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #EB0E0E;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  color:#EB0E0E;
  font-weight: bold;
  padding: 10px;
}
nav .header-button {
  padding-right: 10px;
  margin-left: 10px;
}
nav .header-button:hover {
  font-weight:normal;
}
.logo{
  display: flex;
  align-items:center
}
.logo-image {
  height: 100px;
  margin-right: 10px;
}
.logo-name {
  font-size: 20px;
}
.about-me {
  background-color:#EB0E0E;
  color:white;
  display: grid;
  place-items: center;
  padding-bottom: 30px;
}
.div-title {
  padding: 30px 30px 20px;
  font-size: 40px;
  line-height: 44px;
  display: grid;
  place-items: center;
}
#aboutme-text {
  padding: 0px 30px 30px;
  font-size: 16px;
  line-height: 24px;
}
.profile-image {
  width: 100%;
}
.download-btn {
  text-decoration: none;
  background-color: #D8BC9F;
  color: #EB0E0E;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px 10px 10px 10px; 
  font-size: 24px;
  line-height: 24px;
}
.download-btn:hover {
  font-weight: normal;
}
#professional-experience {
  background-color: #7896C1;
  color: white;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
.job-title {
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  line-height: 24px;
}
.company {
  padding: 10px 20px 10px;
  font-size: 16px;
  line-height: 24px;
}
#professional-experience p, ul {
  padding: 0px 30px 20px 35px;
}
#contact-me {
  background-color: #D8BC9F;
  color: #EB0E0E;
}
.fa-phone, 
.fa-envelope,
.fa-linkedin,
.fa-github-alt {
  font-size: 50px;
  color: #EB0E0E;
  padding: 10px;
}
.contact-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-text {
  color: #EB0E0E;
  min-height: 10px;
  padding: 20px 30px 20px;
  display: grid;
  place-items: center;
}